* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;

}

:root {
    --color: #fff;
    --background-color: #111;
}

body,
html {
    background-color: var(--background-color);
    color: var(--color);
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}


#in {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;
}

#title,
#amount {
    width: 100%;
    height: 50px;
    padding: 3px;
    border-radius: 7px;
    outline: none;
    border: none;
}


#h {
    text-align: center;
    font-size: 41px;
    margin-bottom: 10px;
    font-weight: bold;
}

#list{
    margin-top: 20px;
}

.item{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    padding: 5px;
    margin-bottom: 10px;

}

.item p{
    width: 100%;
}

#totalAmount, #totalItem {
  color: rgb(255, 255, 255); /* or any visible color */
  margin-top: 10px;
}

#total{
    display: flex;
    justify-content: space-between;

}

#totalAmount{
  order: 2;
}

#totalItem{
    order:1 ;
}



.dltBtn {
    background: red;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

#cover {
    border-radius: 15px;

    background-color: rgb(12, 34, 53);
    height: 500px;
    padding: 20px;
    width: 600px;
    box-shadow: 0px 10px 50px rgba(23, 87, 143, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

}

#btn {
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    background-color: rgba(53, 174, 225, 0.712);
    width: 100%;
    outline: none;
    border: none;
}

#btn:hover {
    background-color: rgb(8, 208, 253);
    transform: translateY(-2px);

}